<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EJT Lab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>WelcomeForm.html</welcome-file>
    <welcome-file>FormValidation.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
   <servlet-name>PageHitCounter</servlet-name>
   <servlet-class>PageHitCounter</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>PageHitCounter</servlet-name>
   <url-pattern>/PageHitCounter</url-pattern>
</servlet-mapping>


   <servlet>
   <servlet-name>SessionTrack</servlet-name>
   <servlet-class>SessionTrack</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>SessionTrack</servlet-name>
   <url-pattern>/SessionTrack</url-pattern>
</servlet-mapping>
<session-config>
   <session-timeout>15</session-timeout>
</session-config>


   <servlet>
   <servlet-name>HelloForm</servlet-name>
   <servlet-class>HelloForm</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>HelloForm</servlet-name>
   <url-pattern>/HelloForm</url-pattern>
</servlet-mapping>


    <servlet>
    <servlet-name>ValidServ</servlet-name>
    <servlet-class>ValidServ</servlet-class>
    <init-param>
      <param-name>ShakteeBiswal</param-name>
      <param-value>shakbiswal</param-value>
    </init-param>
    <init-param>
      <param-name>Admin@gmail.com</param-name>
      <param-value>admin123</param-value>
    </init-param>
    <init-param>
      <param-name>user@gmail.com</param-name>
      <param-value>user123</param-value>
    </init-param>
    <init-param>
      <param-name>user4</param-name>
      <param-value>pass4</param-value>
    </init-param>
  </servlet>
<servlet-mapping>
    <servlet-name>ValidServ</servlet-name>
    <url-pattern>/ValidServ</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
   <servlet-name>Contact</servlet-name>
   <servlet-class>Contact</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>Contact</servlet-name>
   <url-pattern>/Contact</url-pattern>
</servlet-mapping>
</web-app>